@charset "UTF-8";

.header-menu { /* home화면에서 글자색 white */
	color: white;
}

a:hover {
	color: gray;
}

.container {
	width: 100%;
	min-height: 600px;
}
.home-cover {
	background-image: url('https://dohgam.s3.ap-northeast-2.amazonaws.com/IMG_8687.jpg');
/* 	background-image: url('../img/IMG_8687.jpg'); */
	background-size: cover;		
}


@media screen and (min-width: 768px) {
	.home-cover {
		width: 100%;
		height: 600px;
	}
	
	.search_div input { /* home화면에서 글자색 white */
		color: white;
	}
	
	.search_div input {
		border-color: white;
	}
}

@media screen and (max-width: 767px) {
	.home-cover {
		width: 100%;
		height: 170vw;
	}
}