<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>돟감</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<th:block th:replace="~{layouts/head::head}"></th:block>
</head>
<body>
	<th:block th:replace="layouts/body::header"></th:block>
	<div class ="container">
		<div class="home-cover"></div>
		<div class="w3-center" style="padding: 50px 0px 50px 0px;">
			<span>독후감을 쉽게! (돟감)</span>
		</div>
	</div>
	<th:block th:replace="layouts/body::footer"></th:block>
</body>
</html>